<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Extension point will ideally be "org.eclipse.text...." because
   the feature should be part of the generic text editor -->
   <extension
         id="languageServer"
         point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.wst.jsdt.ui.defaultProposalCategory"
            class="org.eclipse.languageserver.LanguageCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.languageserver.LSContentAssistProcessor"
            contentType="org.eclipse.wst.css.core.csssource">
      </contentAssistProcessor>
      <contentAssistProcessor
            class="org.eclipse.languageserver.LSContentAssistProcessor"
            contentType="org.eclipse.wst.jsdt.core.jsonSource">
      </contentAssistProcessor>
      <contentAssistProcessor
            class="org.eclipse.languageserver.LSContentAssistProcessor"
            contentType="org.eclipse.languageserver.csharp">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.eclipse.languageserver.LSBasedHover"
            contentType="org.eclipse.wst.css.core.csssource">
      </hoverProvider>
      <hoverProvider
            class="org.eclipse.languageserver.LSBasedHover"
            contentType="org.eclipse.wst.jsdt.core.jsonSource">
      </hoverProvider>
      <hoverProvider
            class="org.eclipse.languageserver.LSBasedHover"
            contentType="org.eclipse.languageserver.csharp">
      </hoverProvider>
   </extension>
   <extension
         id="diagnostic"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cs"
            id="org.eclipse.languageserver.csharp"
            name="C Sharp"
            priority="normal">
      </content-type>
   </extension>

</plugin>
